  
  #radioDiv{
    
    margin-top: 20px;

  }

  body{
    background-color:gainsboro;
  }

  #naviColumns{
    margin-left: -30px;
  }

  #sidebarMenu{
    position: fixed;
    left : 0px;
    width: 330px;
    height: 100%;
    display: block;
}
  form{
    display:  flex;
  }
 
  #cardDiv{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:25%;
    background-color:whitesmoke;
    margin: 40px;
    height: 315px;
    display: inline-block;
}

#cardDiv:empty{
    display: none;
    
}
#footerDiv{
  margin-top: 60px;
    margin-left: 60px;
    display: inline-block;
}


#bodyDiv{
    margin-left: 60px;
    margin-right: 5px;
    display: inline-flex;
}

#titleDiv{
    margin-top: 10px;
    margin-left: 60px;
}

#main{
    margin-left: 320px;
}

#navRadio{
  margin-top: 50px;
  display: block;
}

#footPara{
  margin-top: 0%;
  margin-bottom: 0%;
}

#searchFilter{
  background-color: red;
}
